.message-alignment-container {
  -fx-fill: -fx-color-font-primary;
}

* {
  -fx-fill: inherit;
}

.message-container {
  -fx-background-color:  #0002;
  -fx-padding:           4px;
  -fx-background-radius: 4px;
}

.message-container.system-message {
  -fx-background-color: transparent;
  -fx-font-style:       italic;
}

.message-container.system-message .message-body-text {
  -fx-text-alignment:   center;
}

.message-time {
  -fx-fill:    -fx-color-font-secondary;
  /*Til fremtidig reference, så er det TOP, RIGHT, BOTTOM, LEFT*/
  -fx-padding: 1px 4px 1px 4px;
}

.message-sender {
  -fx-font-weight:   bold;
  -fx-label-padding: 1px 4px 1px 4px;
}

.message-body {
  -fx-label-padding: 1px 4px 1px 4px;
}

.left-menu {
  -fx-background-color: #BBB;
}

.message-reactions {
  -fx-spacing: 2px;
}

.message-reaction-box {
  -fx-background-color:  #FFF8;
  -fx-padding:           1px 4px 1px 4px;
  -fx-background-radius: 6px;
}

.room-button {
  -fx-background-color: transparent;
  -fx-alignment:        TOP_LEFT;
  -fx-padding:          5px;
  -fx-border-width:     0 0 1px 0; /* top right bottom left */
  -fx-border-color:     black;
}

.room-button.active {
  -fx-background-color: #08F4;
}

.room-button.new-activity {
  -fx-font-weight: bold;
}

.room-button:focused {
  -fx-background-color: #08F2;
}

.room-title {
  -fx-fill: -fx-color-font-primary;
}

#scrollPane {
  -fx-background-color: transparent;
}